.radioWallet {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  /* color: #ffffff; */
  /* padding: 5px 30px; */
  /* border: 1px solid transparent; */
  /* width: auto; */
  /* border-radius: 5px; */
  /* height: 50px; */
  /* background: #fd643f; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* text-decoration: none; */
  /* font-size: 18px; */
  /* letter-spacing: 0.45px; */
  /* text-transform: uppercase; */
  /* position: relative; */
  cursor: pointer;
  /* margin: 50px auto 0; */
  /* width: 100%; */
  /* height: 3em; */
}

.radioWallet:hover {
  background: transparent;
  border: 1px solid #60d3a0;
  color: #60d3a0;
}

/* HIDE RADIO */
.radio-connect {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
.radio-connect+img {
  cursor: pointer;
  border-radius: 5px;
}

/* CHECKED STYLES */
.radio-connect:checked+img {
  outline: 4px solid #fd643f;
}

.radio-connect:hover+img {
  /* outline: 4px solid #60d3a0; */
  /* background: transparent; */
  /* border: 1px solid #60d3a0; */
  /* color: #60d3a0; */
}

.inputTextBox {
  padding: 4px 15px 4px 15px;
  font-weight: 500;
  width: 150px;
  height: 50px;
  max-width: 150px;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  color: #282828;
  border-radius: 0px;
  font: normal normal 400 16px/25px Poppins;
  box-shadow: none;
  border: 1px solid #ebebeb;
}

.inputTextBox:hover,
.inputTextBox:focus {
  border: 1px solid #60d3a0;
}

/* bunnyDetails START */

.bunnyDetails {
  background: rgb(96 211 160 / 50%);
  border: 4px solid #f35029;
  border-radius: 15px;
  margin-bottom: 20px;
}

.bunnyDetails p {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 500;
}

.bunnyDetails textarea {
  background: rgb(96 211 160 / 50%);
  min-height: 90px;
  padding: 10px;
  border: 3px solid #cccccc;
  font-family: "Poppins";
  font-size: 18px;
  color: #2a2838;
  line-height: 1.2;
  font-weight: 500;
  width: 100%;
  resize: none;
  overflow: auto;
}

/* bunnyDetails END */

/* bunnyDetailsImageBox START */
.bunnyDetailsImageBox {
  margin: 10px;
  position: relative;
  text-align: center;
}

.bunnyDetailsImageBox .gender {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 0px;
  margin-top: 10px;
  margin-left: -30px;
}

.bunnyDetailsImageBox .image {
  border: 1px solid #fd643f;
  border-radius: 15px;
  padding: 10px;
  width: 150px;
  height: 150px;
}

.bunnyDetailsImageBox .para {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 500;
}

/* bunnyDetailsImageBox END */

.pointer {
  cursor: pointer;
}

/* image_box_top START*/
.image_box_top {
  position: relative;
  text-align: center;
}

.image_box_top .image {
  border: 1px solid #fd643f;
  border-radius: 15px;
  padding: 10px;
  width: 150px;
  height: 150px;
}

.image_box_top .gender {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 0px;
  margin-top: 10px;
  margin-left: -30px;
}

.image_box_top .para {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 500;
}

/* image_box_top END*/

/* DAO form CSS */
.main {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #240046;
  /* min-height: 970px; */
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 7px 7px 10px 3px #24004628;
  margin-bottom: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 14px;
  padding: 24px;
  padding: 15px 40px 0px 40px;
}

/*checkbox to switch from sign up to login*/
#chk {
  display: none;
}

/*Login*/
.login {
  position: relative;
  width: 100%;
  height: 100%;
}

.login label {
  margin: 3% 0 3%;
}

.login>label {
  color: #fff;
  font-size: 2rem;
  justify-content: center;
  display: flex;
  font-weight: bold;
  gap: 10px;
  cursor: pointer;
  align-items: center;
  transition: .5s ease-in-out;
}

.login> :first-child {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  gap: 10px;
  cursor: pointer;
  transition: .5s ease-in-out;
}

.input {
  outline: none;
  border: 2px solid #264143;
  box-shadow: 3px 4px 0px 1px #6d44b8;
  padding: 12px 10px;
  border-radius: 4px;
  font-size: 15px;
}

.input:focus,
.btn:focus {
  transform: translateY(4px);
  box-shadow: 1px 2px 0px 0px #6d44b8;
}

/*Register*/
.register {
  background: #eee;
  border-radius: 10% 10% 0% 0%;
  transform: translateY(55%);
  transition: .8s ease-in-out;
  display: flex;
  pointer-events: none;
  filter: blur(2px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register label {
  color: #573b8a;
  transform: scale(.6);
  font-size: xx-large;
  font-weight: 600;
}

#chk:checked~.register {
  transform: translateY(0%);
  filter: none;
  pointer-events: all;
  /* height: 1300px; */
}

#chk:checked~.register label {
  transform: scale(1);
  margin: 1% 0 1%;
  z-index: 1;
}

#chk:checked~.login label {
  /* transform: scale(.6);
  margin: 2% 0 10%; */
  /* content: "Cancel"; */
}

#chk:checked~.login {
  filter: blur(2px);
  pointer-events: none;
}

.bi-chevron-compact-up,
.bi-chevron-compact-down,
.bi-x-lg {
  font-size: x-large;
  color: blueviolet;
  margin-bottom: -20px;
  margin-top: 10px;
}

#chk:checked~.register .bi-chevron-compact-up {
  display: none;
}

#chk:not(:checked)~.register .bi-x-lg {
  display: none;
}

/*Button*/
.form button,
.btn-submit {
  width: 100%;
  height: 40px;
  margin: 0px auto 10%;
  color: #fff;
  background: #573b8a;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: .2s ease-in;
}

.form button:hover {
  background-color: #6d44b8;
}

.success-ratio {
  display: flex;
  justify-content: space-between;
  gap: 2px;
}

/* canister display cards */

.card-container {
  display: flex;
  flex-direction: row;
  gap: 42px;
  flex-wrap: wrap;
  margin-left: 30px;
}

.card {
  width: 280px;
  height: 150px;
  background: rgb(17, 4, 134);
  border-radius: 15px;
  box-shadow: #000000b3 5px 10px 50px, #000000b3 -5px 0px 250px;
  color: white;
  padding: 0px 10px 10px 10px;
  position: relative;
  background: linear-gradient(to right, rgb(0 0 0), rgb(24 40 58));
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.card:hover {
  box-shadow: rgb(158 158 158) 5px 10px 50px, rgb(117 0 208) -5px 0px 250px;
}

.time-text {
  font-size: 35px;
  margin-top: 0px;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.time-sub-text {
  font-size: 25px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

.day-text {
  font-size: 24px;
  margin-top: 0px;
  font-weight: 500;
  color: #606060;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.active-color {
  color: #ffffff !important;
}

.moon {
  font-size: 20px;
  position: absolute;
  right: 15px;
  top: 20px;
  transition: all 0.3s ease-in-out;
}

.card:hover>.moon {
  font-size: 23px;
}

/* Options CSS */

#options-input>.row .input {
  padding: 0;
}

#options-input>.row .input>input {
  padding: 12px 10px;
}

/* Question display CSS */
.question-card {
  /* width: 280px; */
  /* height: 150px; */
  background: #110486;
  border-radius: 15px;
  box-shadow: 0px 9px 30px 0px #9c05ff57;
  color: white;
  padding: 15px;
  position: relative;
  background: linear-gradient(to right, #000000, #18283a);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.question-card:hover {
  scale: 1.009;
  box-shadow: 0px 9px 30px 0px #9900ff95;
}

.question-card> :first-child>.title,
.index {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.question-card> :first-child>.title>.badge {
  font-size: 17px;
  letter-spacing: 1px;
  background-color: #264143;
  padding: 0.4rem;
  line-height: 0.5;
}

.question-card>div>.title>.que-no {
  letter-spacing: 1px;
  color: #ababab;
}

.question-card>div>.goto-proposal>a {
  letter-spacing: 1px;
  color: #ababab;
  font-size: 16px;
}

.question-card>div>.goto-proposal:hover {
  text-decoration: dashed;
  text-decoration-line: underline;
  text-decoration-color: whitesmoke;
}

.question-card>div>.goto-proposal>a :hover {
  color: whitesmoke;
}

.redirect-link {
  color: #ababab;
  transition: none;
}

.redirect-link:hover {
  text-decoration: dashed !important;
  text-decoration-line: underline !important;
  text-decoration-color: whitesmoke !important;
  color: whitesmoke;
}

/* proposal details CSS */

.main-wrap {
  margin: auto;
  /* background-color: #0f1b2a42); */
  background-color: #000000;
  padding: 20px;
  gap: 50px;
  width: 92%;
  border-radius: 20px;
}

.wrapper {
  border: 1px solid #323e4e;
  background-color: #323e4e;
  padding: 20px;
  border-radius: 20px;
  height: 100%;
}

.grey {
  color: #979797;
}

.white {
  color: white;
}

.details-container {
  /* background-color: #1f2a3c; */
  border: 1px solid #323e4e;
  padding: 20px;
  border-radius: 20px;
  height: 50%;
}

.title {
  font-size: 30px;
  color: white;
}

.font-size-17 {
  font-size: 17px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-20 {
  font-size: 20px;
}

.success {
  color: #05b705;
  border: 1px solid #05b705;
  border-radius: 50px;
  padding: 3px 7px;
}

/* Vote radio btn */
.radio-container label {
  display: flex;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.375em;
}

.radio-container label input {
  position: absolute;
  left: -9999px;
}

.radio-container label input:checked+span {
  background-color: #cecef6;
  color: #9651df;
  font-size: 15px;
}

.radio-container label input:checked+span:before {
  box-shadow: inset 0 0 0 0.4375em #00005c;
}

.radio-container label span {
  display: flex;
  align-items: center;
  width: fit-content;
  margin-inline-end: 45px;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 99em;
  transition: 0.25s ease;
  color: #cecef6;
}

.radio-container label span:hover {
  background-color: #573b8a;
}

.radio-container label span:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em #00005c;
}

.radio-wrapper {
  /* width: fit-content; */
  border-radius: 20px;
  padding: 15px;
  border: 2px solid #384a63;
}

/* Progress bar dot */
.dotted {
  width: 10px;
  height: 10px;
}